* {
    box-sizing: border-box;
    
  }
  html,body{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }

  a.column_sort {
    color: white;
  }

  body{
    z-index: -3;
  }

  #uni-logos-wrapper{
    text-align: center;
    margin: 4% 0 5% 0;
    padding: 0 3%;
  }

  .form-container{
    margin: 0;
    padding: 15px;
    padding-top: 30px;
    width: 100%;
    background-color: rgba(62, 63, 63, 0.856);
  }
  .btn-round-custom,
  .btn-round-custom:focus,
  .btn-round-custom:active{
    padding: 10px 35px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 21px;
    transition: all .3s;
  }

  .btn-round-custom:hover{
    background-color: white;
    color: black;
    border: none;
    text-decoration: none;
    transition: all .3s;
  }

  #welcome-div{
    background-color: rgba(252, 252, 252, 0.36);
    padding: 5% 0;
    text-align: center;
  
  }
  #welcome-h1{
    color: #ddd;
  }


  #background-img{
    content: " ";
    position: fixed;
    top: 0;
    background-image: url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;

  }
.d-flex {
  display: flex;
  align-items: center;
}

label{
    color: azure;
}
#btn_find{
    margin-left: 20px
}

.table{
    color: #ddd;
}
table>tbody>tr:hover{
    background-color: rgba(177, 168, 168, 0.5) !important;
    color: white;
}
.icon-images{
  margin: 2px;
}
.icon-images:hover{
  padding: 3px;
}
#sort>a{
  padding: 5px;
  border: solid 1px   #797979;
  background-color:   #797979;
  color: azure;
  margin: 5px;
  border-radius: 3px;
}
#sort>a:hover{
  text-decoration: none;
  padding: 7px;
}
/*RESPONSIVE NAVIGATION BAR*/
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    justify-content: center;
    display: flex;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover,
  .topnav a:active {
    background-color: #ddd;
    color: black;
    
  }
  
  .active {
    background-color: #797979;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.row{
    margin: 0;
}
@media screen and (min-width:600px){
    #uni-logos-wrapper{
        padding:  0 20%; 
      }
}